client/node_modules
client/dist
client/dist-zip
client/.env
client/coverage
client/.jshintrc

# This is where the responsive voice code is...
# I don't know how else to inject it without hiding the key
client/src/scripts

server/node_modules
server/.env
server/coverage

.DS_Store
client/.DS_Store

client/.env.production