client/node_modules
client/dist
client/dist-zip
client/.env
client/coverage
client/.jshintrc
client/eslint_report.json

server/node_modules
server/.env
server/coverage
server/eslint_report.json

.DS_Store
client/.DS_Store

client/.env.production