@import "twemoji-awesome";
@import "variables";
@import "base";
@import "loading";
@import "options";
@import "flag";

/* <---------------- DAILY WORD ----------------> */

h1 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 10vw;
  color: $primary-color;
  max-width: 70vw;
}

h2 {
  text-transform: uppercase;
  letter-spacing: $spacing-xs;
  font-size: 2.5vw;
  margin-top: 0px;
  color: $secondary-color;
}

h3 {
  font-size: 1.5vw;
  text-transform: uppercase;
  letter-spacing: $spacing-xs;
  color: $primary-color;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

/* <---------------- QUOTE ----------------> */

.quote-container {
  margin-top: 80px;
  padding: 1.5vw 2.5vw;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 42vw;
}

.sentence {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: $fs-xl;
  font-weight: 400;
}

.author {
  text-transform: uppercase;
}

/* <---------------- DATE AND TIME ----------------> */
.time {
  font-size: 7vw;
  font-family: "Abel", sans-serif;
}

.date {
  font-size: 1.3vw;
  letter-spacing: $spacing-xs;
  text-transform: uppercase;
  margin-bottom: -10px;
}

/* <---------------- CORNER ELEMENTS ----------------> */
.top-left {
  position: absolute;
  cursor: default;
  text-align: center;
}

.top-right {
  position: absolute;
  top: $spacing;
  right: $spacing;
  z-index: 3;
}

.bottom-left {
  position: absolute;
  font-size: $fs-s;
  left: $spacing;
  bottom: $spacing;
  opacity: 0.3;
  line-height: $spacing;
}

.bottom-right {
  position: absolute;
  text-align: right;
  right: $spacing;
  opacity: 0.3;
  bottom: 0;
  z-index: 3;
}

.corner-element {
  display: none;
}

.icon {
  width: 50px;
}
