.options-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 13%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: $spacing-s;
  z-index: 4;
}

.multiselect__select {
  width: 25px;
  padding: 4px;
}

.multiselect__tags {
  padding: 8px 25px 0px 8px;
}

.multiselect__tag, .multiselect__option--highlight, .multiselect__option--highlight:after {
  background: $primary-color;
}

.multiselect__tag-icon:after, .multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
  color: $third-color;
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
  background-color: $third-color;
}

.multiselect, .multiselect__input, .multiselect__single {
  font-size: $fs-m;
}

.multiselect__option--selected {
  background: $secondary-color;
  color: $third-color;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: $third-color;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: $third-color;
}

.save-button {
  background-color: $primary-color;
  border-radius: 10px;
  color: black;
  padding: 7px;
  text-align: center;
  font-size: $fs-m;
  width: 100%;
  border-radius: 5px;
  transition: all 0.8s;
}

.nowrap {
  white-space: nowrap;
}
