.options-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 15%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: $spacing-s;
  z-index: 4;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: $fs-m;
}

.multiselect__element,
.multiselect__input,
.multiselect__single {
  background: black;
  color: $secondary-color;
}

.multiselect__select {
  width: 25px;
  padding: 4px;
}

.multiselect__tags {
  background: black;
  padding: 8px 25px 0px 8px;
  border: 1px solid $third-color;
}

.multiselect__content-wrapper {
  border: 1px solid $third-color;
}

.multiselect__tag,
.multiselect__option--selected {
  background: $primary-color;
  color: black;
}

.multiselect__option--highlight,
.multiselect__option--highlight:after {
  background: $third-color;
  color: $secondary-color;
}

.multiselect__option--selected.multiselect__option--highlight,
.multiselect__option--selected.multiselect__option--highlight:after {
  background: $darker-primary-color;
  color: $secondary-color;
}

.multiselect__tag-icon:after {
  color: black;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: $darker-primary-color;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: $secondary-color;
}

input.multiselect__input::placeholder {
  color: $secondary-color;
}

.save-button {
  background-color: $primary-color;
  border-radius: 10px;
  color: black;
  padding: 7px;
  text-align: center;
  font-size: $fs-m;
  width: 100%;
  border-radius: 5px;
  transition: all 0.8s;
}

.nowrap {
  white-space: nowrap;
}

.snackbar {
  font-family: "Sen", sans-serif;
}

.snackbar .snackbar__action {
  color: $primary-color;
}