$spacing-xs: 10px;
$spacing-s: 12px;
$spacing: 24px;
$spacing-m: 36px;
$spacing-l: 72px;

$primary-color: #D8C078;
$darker-primary-color: #5c502c;
$secondary-color: #BDBDBD;
$third-color: #474747;
$body-color: #888888;

$fs-s: 12px;
$fs-m: 14px;
$fs-l: 16px;
$fs-xl: 20px;
