@import "twemoji-awesome";

* {
  box-sizing: border-box;
}

html {
  --spacing-xs: 10px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;
  --spacing-l: 72px;
  --bg-color-1: #BC7559;
  --bg-color-2: #3EB0FF;
  --primary-color: #d8c078;
  --secondary-color: #bdbdbd;
  --third-color: #474747;
  --body-color: #888888;
  --fs-s: 12px;
  --fs-m: 14px;
  --fs-l: 16px;
}

body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  width: 100%;
  height: 100%;
  font-size: var(--fs-m);
  color: var(--body-color);
  background-color: black;
}

.is-text-primary { color: var(--primary-color); }
.is-text-secondary { color: var(--secondary-color); }

.mb1 { margin-bottom: var(--spacing-xs); }
.mt1 { margin-top: var(--spacing-xs); }

.has-text-centered { text-align: center; }


/* <---------------- OVERRIDES ----------------> */
a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.8s;
  opacity: 0.8;
}

a:hover {
  color: var(--primary-color);
  transition: all 0.8s;
}

button {
  font-family: 'Sen', sans-serif;
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

input[type=checkbox] {
  visibility: hidden;
  display: none;
}

h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-size: 10vw;
  color: var(--primary-color);
}

h2 {
  text-transform: uppercase;
  letter-spacing: var(--spacing-xs);
  font-size: 2.5vw;
  margin-top: -10px;
  color: var(--secondary-color);
}

#background {
  opacity: 0.4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* <---------------- DAILY WORD ----------------> */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#translate-button {
  align-self: flex-end;
  margin-bottom: var(--spacing);
  color: var(--primary-color);
}

.word-container {
  display: flex;
}

.quote-container {
  margin-top: 80px;
  width: 70w;
}

/* <---------------- QUOTE ----------------> */
.quote {
  padding: 1.5vw 2.5vw;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.5);
}

#quote {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.252vw;
  font-weight: 400;
}

#author {
  text-transform: uppercase;
}

/* <---------------- DATE AND TIME ----------------> */
#time {
  font-size: 7vw;
  font-family: 'Abel', sans-serif;
}

#date {
  font-size: 1.5vw;
  letter-spacing: var(--spacing-xs);
  text-transform: uppercase;
  margin-bottom: -10px;
}

/* <---------------- CORNER ELEMENTS ----------------> */
.top-left {
  position: absolute;
  top: var(--spacing);
  left: var(--spacing);
}

.top-right {
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
  z-index: 3;
}

.bottom-left {
  position: absolute;
  font-size: var(--fs-s);
  left: var(--spacing);
  bottom: var(--spacing);
  opacity: 0.8;
  line-height: var(--spacing);
}

.bottom-right {
  position: absolute;
  text-align: right;
  right: var(--spacing);
  opacity: 0.2;
  bottom: 0;
  z-index: 3;
}

.corner-element {
  display: none;
}

.icon {
  width: 50px;
}

svg {
  stroke: var(--body-color);
  transition: all 0.8s;
}

svg:hover {
  stroke: var(--primary-color);
  transition: all 0.8s;
}

svg:focus {
  stroke: var(--primary-color);
}

/* <---------------- OPTIONS ----------------> */
#options-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 9%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: var(--spacing-s);
  display: none;
  z-index: 2;
}

.option {
  display: block;
  position: relative;
  padding-left: var(--spacing);
  cursor: pointer;
}

.option:not(:last-child) {
  margin-bottom: var(--spacing-xs);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--secondary-color);
}

.option:hover input ~ .checkmark {
  background-color: var(--body-color);
}

.option input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.option .checkmark:after {
  left: 5px;
  width: 4px;
  height: 10px;
  border: solid var(--third-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#save-button {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: black;
  padding: 5px;
  text-align: center;
  font-size: var(--fs-m);
  width: 100%;
  border-radius: 2px;
  margin-top: var(--spacing-s);
  transition: all 0.8s;
}

#save-button:hover {
  background-color: var(--secondary-color);
  transition: all 0.8s;
}
