@import "twemoji-awesome";
@import "variables";
@import "base";

/* <---------------- DAILY WORD ----------------> */

h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-size: 10vw;
  color: $primary-color;
}

h2 {
  text-transform: uppercase;
  letter-spacing: $spacing-xs;
  font-size: 2.5vw;
  margin-top: -10px;
  color: $secondary-color;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

/* <---------------- QUOTE ----------------> */

.quote-container {
  margin-top: 80px;
  padding: 1.5vw 2.5vw;
  border-radius: 10px;
  background-color: rgba(0,0,0, 0.5);
  max-width: 70vw;
}

.sentence {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: $fs-xl;
  font-weight: 400;
}

.author {
  text-transform: uppercase;
}

/* <---------------- DATE AND TIME ----------------> */
#time {
  font-size: 7vw;
  font-family: 'Abel', sans-serif;
}

#date {
  font-size: 1.5vw;
  letter-spacing: $spacing-xs;
  text-transform: uppercase;
  margin-bottom: -10px;
}

/* <---------------- CORNER ELEMENTS ----------------> */
.top-left {
  position: absolute;
  top: $spacing;
  left: $spacing;
}

.top-right {
  position: absolute;
  top: $spacing;
  right: $spacing;
  z-index: 3;
}

.bottom-left {
  position: absolute;
  font-size: $fs-s;
  left: $spacing;
  bottom: $spacing;
  opacity: 0.8;
  line-height: $spacing;
}

.bottom-right {
  position: absolute;
  text-align: right;
  right: $spacing;
  opacity: 0.2;
  bottom: 0;
  z-index: 3;
}

.corner-element {
  display: none;
}

.icon {
  width: 50px;
}

/* <---------------- OPTIONS ----------------> */
#options-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 9%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: $spacing-s;
  display: none;
  z-index: 2;
}

.option {
  display: block;
  position: relative;
  padding-left: $spacing;
  cursor: pointer;
}

.option:not(:last-child) {
  margin-bottom: $spacing-xs;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: $secondary-color;
}

.option:hover input ~ .checkmark {
  background-color: $body-color;
}

.option input:checked ~ .checkmark {
  background-color: $primary-color;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.option .checkmark:after {
  left: 5px;
  width: 4px;
  height: 10px;
  border: solid $third-color;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#save-button {
  background-color: $primary-color;
  border-radius: 10px;
  color: black;
  padding: 5px;
  text-align: center;
  font-size: $fs-m;
  width: 100%;
  border-radius: 2px;
  margin-top: $spacing-s;
  transition: all 0.8s;
}

#save-button:hover {
  background-color: $secondary-color;
  transition: all 0.8s;
}
