.options-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 9%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: $spacing-s;
  z-index: 2;
}

.option {
  display: block;
  position: relative;
  padding-left: $spacing;
  cursor: pointer;
}

.option:not(:last-child) {
  margin-bottom: $spacing-xs;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: $secondary-color;
}

.option:hover input ~ .checkmark {
  background-color: $body-color;
}

.option input:checked ~ .checkmark {
  background-color: $primary-color;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.option .checkmark:after {
  left: 5px;
  width: 4px;
  height: 10px;
  border: solid $third-color;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.save-button {
  background-color: $primary-color;
  border-radius: 10px;
  color: black;
  padding: 7px;
  text-align: center;
  font-size: $fs-m;
  width: 100%;
  border-radius: 5px;
  margin-top: $spacing-s;
  transition: all 0.8s;
}
